{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/choco - Copy.jpg" class="d-block w-100" alt="...">
</div>
<div class="container  px-5 my-3">
    <h1 class="text-center my-3">Chocolate</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/oreo.jpg" class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">Oreo Overload</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/Belgian Sensation.jpg" class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">Belgian Sensation</p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/Seven Chocolate.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Seven Chocolate</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/browni.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Choco Brownie</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/cookieceram.jpg" class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">Cookie Cream</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/chips.jpg" class="d-block w-100" alt="...">
    
              <div class="card-body">
                <p class="card-text">Chocolate Chips</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
        </div>
      </div>        
</div>
{% endblock body %}