{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/33.jpg" class="d-block w-100" alt="...">
</div>
<div class="container px-5 my-3">
    <h1 class="text-center my-3">Fruits</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/keserpistafruit.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Kesar Pista</p>
                 
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/almondfruit.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Almond Carnival</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/kajufruit.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Kaju Draksh</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/americanfruit.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">American Nuts</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/strawberryfruit.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Strawberry Cheese Cake</p>
                </div>
              </div>
            </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/mixberryfruit.jpg" class="d-block w-100" alt="...">
        
                  <div class="card-body">
                    <p class="card-text">Mixed Berries</p>
                    
                  </div>
                </div>
            </div>
          </div>         
</div>
{% endblock body %}