{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/kulfibanner23.jpg" class="d-block w-100" alt="...">
</div>
<div class="container px-5 my-3">
    <h1 class="text-center my-3">Indian Traditional</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/bombaykulfi.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Bombay Kulfi</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/malaykulfi.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Malai Kulfi</p>
                  <div class="d-flex justify-content-between align-items-center">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/matakakulfi.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">MATKA KULFI</p>
                  <div class="d-flex justify-content-between align-items-center">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/chawatykulfi.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Chowpaty Kulfi</p>
                  <div class="d-flex justify-content-between align-items-center">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/kulfi-612x612.jpg" class="d-block w-100" alt="...">
      
                <div class="card-body">
                  <p class="card-text">Mawa Tillewali Kulfi</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/sahikulfi.jpg" class="d-block w-100" alt="...">
        
                  <div class="card-body">
                    <p class="card-text">Sahi Kulfi</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
            </div>
          </div>          
</div>
 {% endblock body %}