
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="/static/1200.jpg" class="d-block w-100" alt="...">
</div>
<div class="container  px-5 my-3">
  <h1 style="text-align:center;">International/Others</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/11.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">NUTTY FRENCH VANILLA</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/333.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">DOUBLE BELGIAN CHOCOLATE</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/333.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">SWISS CHOCO BROWNIE</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

